// Color Palette
$color-dark-blue: #01f2f2;
$color-light-blue: #040dbf;
$color-gold: #f2df79;
$color-orange: #F37406;
$color-background: #3A53BA;

// Typography
$font-main-title: "ATRotisSemiSans-ExtraBold", sans-serif;
$font-subtitle: "ATRotisSemiSans-Light", sans-serif;
